.gradle
.idea/
/local.properties
.DS_Store
/build
/captures
bin/
gen/
/annotations/build/libs/annotations.jar
annotation-compiler/build/libs/annotation-compiler.jar

*.ipr
*.iws
*.iml
*.class
*.apk
*.ap_
*.dex
/annotation-compiler/build/
