<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="su.levenetc.androidplayground">

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.NFC"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

	<uses-feature
			android:name="android.hardware.nfc"
			android:required="true"/>

	<application
			android:hardwareAccelerated="true"
			android:name=".App"
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:supportsRtl="true"
			android:theme="@style/AppTheme">
		<activity android:name=".activities.BootActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<meta-data
				android:name="com.google.android.gms.wallet.api.enabled"
				android:value="true"/>

		<activity android:name=".activities.HtmlSymbolsTest"/>
		<activity android:name=".activities.AlarmActivity"/>
		<activity android:name=".activities.StethoSampleActivity"/>
		<activity android:name=".activities.AllEventReceiverActivity"/>
		<activity android:name=".activities.VideoViewPagerActivity"/>
		<activity android:name=".activities.AccountsActivity"/>
		<activity android:name=".activities.SampleTestRecordActivityA"/>
		<activity android:name=".activities.SampleTestRecordActivityB"/>
		<activity android:name=".activities.BackStackTypePopActivity"/>
		<activity android:name=".activities.JustActivity"/>
		<activity android:name=".activities.NfcForegroundActivity"/>
		<activity android:name=".activities.NfcReaderActivity"/>
		<activity android:name=".activities.WorkRunnerActivity"/>
		<activity android:name=".activities.OpenGLSampleActivity"/>
		<activity android:name=".activities.CanvasActivity"/>
		<activity android:name=".activities.MapEditorActivity"/>
		<activity android:name=".activities.StickyScrollViewActivity"/>
		<activity android:name=".activities.MergeViewActivity"/>
		<activity android:name=".activities.UIGardenActivity"/>
		<activity android:name=".activities.RoomActivity"/>
		<activity android:name=".activities.TouchEventsActivity"/>
		<activity android:name=".activities.QueryLineActivity"
		          android:windowSoftInputMode="adjustResize"
		/>

		<service android:name=".services.AlarmStatusService"/>
		<service android:name=".services.SensorsDataCollectorService"/>

		<meta-data android:name="com.google.android.geo.API_KEY"
		           android:value="AIzaSyAaPC86oWIiG1tcnKHvr8ioBpfmOcnWtxQ"/>

		<receiver android:name=".services.DebugCommandsReceiver">
			<intent-filter>
				<action android:name="su.elevenetc.android.intent.DEBUG_COMMAND"/>
				<category android:name="su.elevenetc.android.commandreceiver"/>
			</intent-filter>
		</receiver>
	</application>

</manifest>
